.Pokecard {
  background-color: white;
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  transition: all .5s;
}

.Pokecard:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 7px 10px 30px -5px rgba(0, 0, 0, 0.55);
}


.Pokecard-data {
  font-size: 80%;
  font-weight: 500;
}

.Pokecard-title {
  
}